{% extends 'base.html' %}

{% block heading %}
<center>
<form method='GET' action='{{ home_url }}'>
<input value='Return' name ='btn' type='SUBMIT'><br>
</form>
</center>
{% endblock %}


<!--Displaying-->
{% block body %}
<center>
<table border = '1'>
<tr>
{% for title in the_titles %}
	<td><strong>{{ title }}</strong></td>
{% endfor %}
</tr>
{% for line in the_data %}
	<tr>
	{% for value in line %}
        <td>{{ value }}</td>
	{% endfor %}
    </tr>
{% endfor %}
</table>
</center>
{% endblock %}

{% block body2 %}
<center>
<br>

<!--Adding + Updating + Deleting-->
<form method='POST' action = '{{ the_action_url }}'>
{% if is_scores == False %} <!--not the scores table-->

<table>
<tr><tr>
{% for value in the_titles %}
<td>{{ value }}</td>
{% endfor %}</tr>
{% for value in the_titles %}
<td><input name ='{{ value.lower() }}' type='TEXT'></td>
{% endfor %}
</tr>
</table>
Select an entry to update/delete:
<select name = 'select'>
  {% for item in the_list %}
  <option value='{{ item[0] }}'>{{ item[1] }}</option>
  {% endfor %}
</select>
<input value='Update' name ='btn' type='SUBMIT'>
<input value='Delete' name ='btn' type='SUBMIT'>

{% else %}<!--scores table-->

<select name = 'gameSelect'>
  {% for item in the_score_games %}
  <option value='{{ item[0] }}'>{{ item[1] }}</option>
  {% endfor %}
</select>
<select name = 'playerSelect'>
  {% for item in the_score_players %}
  <option value='{{ item[0] }}'>{{ item[1] }}</option>
  {% endfor %}
</select>
<table>
<tr><tr>
<td>{{ the_titles[-1] }}</td>
<td><input name ='{{ the_titles[-1].lower() }}' type='TEXT'></td>
</tr>
</table>
{% endif %}
<input value='Add' name ='btn' type='SUBMIT'>
</form>


</center>
{% endblock %}