{% extends 'base.html' %}

{% block heading %}
<center>
<form method='GET' action='{{ home_url }}'>
<input value='Return' name ='btn' type='SUBMIT'><br>
</form>
</center>
{% endblock %}
		
{% block body %}
<center>
<table border = '1'>  
<tr>
{% for title in the_titles %}
	<td><strong>{{ title }}</strong></td>
{% endfor %}
</tr>
{% for line in the_data %}
	<tr>
	{% for value in line %}
        <td>{{ value }}</td>
	{% endfor %}
    </tr>
{% endfor %}
</table>
</center>
{% endblock %}

{% block body2 %}

<center>
<br>
<form method='POST' action = '{{ the_add_url }}'>

<table>
<tr>
<tr>
{% for value in the_titles %}
<td>{{ value }}</td>
{% endfor %}
</tr>
{% for value in the_titles %}
<td><input name ='{{ value }}' type='TEXT'></td>
{% endfor %}
<td><input value='Add' name ='btn' type='SUBMIT'></td>
</tr>
</table>

</form>
</center>

{% endblock %}
